.vscode/
backend/node_modules/
backend/ormconfig.json
backend/coverage/
backend/.docker/dbdata
frontend/node_modules/
frontend/cypress/videos/
frontend/cypress/screenshots/
frontend/cypress/downloads/