.block-ui-spinner {
  position: absolute !important;
  top: 50vh !important;
  width: 50px !important;
  height: 50px !important;
}

.dialog-size {
  width: 50vw;
}

.p-column-header-content {
  justify-content: center;
}

.p-datatable-tbody > tr > td {
  text-align: center !important;
}
