a {
  text-decoration: none;
  color: #3f51b5;
}

a:hover {
  text-decoration: underline;
}

.block-ui-spinner {
  width: 50px !important;
  height: 50px !important;
}

.dialog-size {
  width: 50vw;
}

.p-column-header-content {
  justify-content: center;
}

.p-datatable-tbody td:nth-child(1) {
  width: 5%;
}

.p-datatable-tbody td:nth-child(2) {
  width: 30%;
}

.p-datatable-tbody td:nth-child(3) {
  width: 15%;
}

.p-datatable-tbody td:nth-child(4) {
  width: 15%;
}

.p-datatable-tbody td:nth-child(5) {
  width: 35%;
}

.p-datatable-tbody > tr > td {
  text-align: center !important;
}
